.market-1 {
  align-self: center;
}

.container-contact {
  display: flex;
  margin-bottom: 15%;
}

.container-left {
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  height: 0px;
}

.container-8 {
  display: flex;
  padding: 5%;
}

.info-8 {
  background-color: #3A8894;
}

.info-2 {
  padding: 5%;
  /* background-color: #8C3388; */
}

.info-9 {
  /* background-color:#8C3388; */
  text-align: center;
}

.btn-3 {
  margin-top: 1%;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: #8C3388;
  color: white;
}

.container-10 {
  /* background-color: aquamarine; */
  display: flex;
  margin-bottom: 10%;
}

.info-10 {
  /* background-color: green; */
  padding-left: 10%;
}

.info-11 {
  padding: 5%;
}

.image-3 {
  position: relative;
}

.image-3 button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color:#8C3388;
  color: white;
  border: none;
  /* border-radius: 15px 1px 15px 1px; */
  font-size: 16px;
  cursor: pointer;
}

.image-3 img {
  border-radius: 0;
}


.container-20 {
  display: block;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.container-21 {
  background-color: #3A8894;
  border-radius: 1px 1px 75px 1px;
  padding-left: 3%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.container-22 {
  /* background-color: aqua; */
  border-radius: 1px 1px 75px 1px;
  flex: 0 0 200px;
}

.container-21 button {
  background-color: #8C3388;
  color: white;
  border-radius: 15px;
  margin-bottom: 5%;
}

.container-23 {
  padding-top: 1%;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  /* padding-top: ; */
  /* padding-bottom: 3%; */
  color: black;
  font-style: italic;
  
}

.container-23 h1 {
  padding-bottom: 1%;
  background-color: #26A7B6;
}

.contact-form {
  max-width: 65vh;
  text-align: center;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex-basis: calc(50% - 10px);
}

.form-group label {
  font-size: 2vh;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  font-size: 2vh;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background-color: #26A7B6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20%;
  font-size: 2vh;
  align-items: center;
}

.contact-form button:hover {
  background-color: #45bdca;
}

.container-back {
  /* background-image: url("../assets/telework-5046230.jpg"); */
  /* height: 50vh; */
  background-size: cover;
  /* opacity: 70%; */
}

.container-banner {
  /* background-image: url("../assets/mockup-escritorio-ek3-1.png"); */
}

.imagem-destaque {
  width: 100%;
  height: 65vh;
  object-fit:cover; 
}


.container-back img {
  opacity: 70%;
}

.container-22 img {
  width: 70vh;
}

.container-back {
  /* padding-bottom: 45%; */
}

 /* style={{borderRadius: "1px 75px"}} */


 @media (max-width: 1000px) {
  .button-sub {
    /* Outros estilos do botão */
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .container-20 {
    display: block;
    padding: 0%;
    margin:0%;
  }

  .container-22 img {
    /* margin-top: 100%; */
    width: 100%;
  }

  .container-banner {
    background-image: url();
  }

  .container-contact {
    margin-top: 0%;
    padding: 0;
    display: block;
  }


 }

