.container41 {
  align-items: center;
  text-align: center;
  padding-top: 2%;
  margin-right: 25%;
  margin-left: 25%;
}

.content-1 {
  padding-left: 1%;
  padding-right: 10%;
  background-color: black;
  color: white;
}

.container-content {
  display: flex;
}

.content-2 {
  padding-left: 1%;
  padding-right: 1%;
}

@media (max-width: 912px) {

  .container-content {
    display: block;
  }
}