.container41 {
  align-items: center;
  text-align: center;
  padding-top: 2%;
  margin-right: 25%;
  margin-left: 25%;
}

.content-1 {
  position: absolute; 
  top: 85%; left: 0%; right: 40%; transform: translateY(-50%);
  padding-left: 4%;
  padding-right: 10%;
  background-color: black;
  color: rgba(255, 255, 255, 0.76);
}

.container-content {
  display: flex;
  margin: 0;
  padding: 0;
}

.content-2 {
  /* position: absolute;  */
  top: 85%; left: 0%; right: 40%; transform: translateY(-50%);
  padding-left: 1%;
  padding-right: 1%;
  margin-left:20%; 
  /* margin-right:3%; */
  background-color: black;
  color: rgba(255, 255, 255, 0.76);
}

.content-3 {
  margin-left: 15%;
  padding-bottom: 5%;
}

@media (max-width: 912px) {

  .container-content {
    display: block;
  }
  .content-1 {
    position:relative; 
    top: "0%"; left: "0%"; right: "0%"; transform: translateY(0%);
    padding-left: 0%;
    padding-right: 0%;
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
  }
  .content-2 {
    padding-left: 0%;
    padding-right: 0%;
  }
}