* {
  font-family: sans-serif;
}

p {
  font-size: 14;
  /* font-size: 1em; */
}

.show-more-button {
  display: none;
  justify-content: center;
}

.show-more-button button {
  border-radius: 15px;
  background-color: #8C3388;
  color: white;
}

.container-cards {
  margin-top: 3%;
  text-align:center;
  display: flex;
  justify-content: space-around;
}

.cards-div {
  border-radius: 15px;
  background-color: #F5F5F5;
  box-shadow: 0 2px 4px #00000033;
  display: inline-block;
  width: 35vh; 
  /* height: 20vh; */
  margin-right: 12%; 

}

.cards-div img {
  border-radius: 15px;
  /* max-height: 100%; */
  width: 35vh;
  object-fit: cover;
}

.cards-div button {
  border-radius: 15px;
  background-color: #8C3388;
  color: white;
}

.cards-div:last-child {
  margin-right: 0; 
}



.carousel-wrapper {
  position: relative;
  height: 100vh; 
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  text-align: center;
}

.carousel-caption.d-flex {
  align-items: center;
  justify-content: center;
}

.btn-carousel {
  background-color: #007bff;
  border-radius: 50px;
  color: #fff;
  /* font-size: 24px; */
  padding: 15px 30px;
  /* margin-top: 30px; */
}

.carousel-item img {
  height: 65vh;
  object-fit: cover;
  color: white;
  opacity: 50%;
}

.carousel-caption button {
  /* margin-bottom: 30px; */
  border-radius: 50px;
  padding: 1px 30px;
  /* font-size: 24px; */
  background-color: #8C3388;
  border-color:#8C3388;
  color: white;
}

.Linkados {
  color: black;
}

.carousel-caption h3 {
  /* font-size: 50px; */
  margin-top: 5%;
  color: black
}

.carousel-caption p {
  /* font-size: 35px; */
  color: black
}

.carousel-caption {
  height: 60%;
  width: 80%;
}

.tituloEk3 {
  justify-content: center;
}

#centro {
  margin-top: 25px;
  text-align: center;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

#titulo1 {
  /* font-size: 34px; */
}

.grid-section {
  width: auto;
  margin-top: 50px;
  padding: 50px 0;
  background-color: #8C3388;
  }
  
  .grid-img {
  width: 80%;
  margin: 0;
  padding: 0;
  }
  
  .grid-topicos {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  .grid-topicos li {
  margin-left: -10%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  }

  .grid-topicos h2 {
    /* font-size: 35px; */
    color: #ffffff;
    }

  /* .grid-topicos button {
    margin-top: 40%;
    } */
  
  .grid-topicos p {
  padding-top: 2%;
  padding-left: 2%;
  /* font-size: 22px; */
  color: #ffffff;
  }
  
  .grid-topicos li:last-child {
  margin-bottom: 0;
  }

.marketing-1 {
  color: white
}

.marketing-1 p {
  /* font-size: 1.8rem; */
}

.container-4 {
  padding: 5%;
  display: flex;
  background-color: #8C3388;
  color: #fff;
}

.container-4 h5 {
  padding-top: 5%;
  /* padding: 2%; */
}

.market-2 h3{
  padding-bottom: 7%;
}

.market-2 h5{
  padding-bottom: 5%;
}

.header-init {
  background-color: #007bff;
  background-image: url("../assets/headlogo.png");
  background-size: cover;
  background-position: center; 
  /* padding-bottom: 24%; */
  height: 84vh;
  background-size: cover;
  /* opacity: 1; */
  background-color: rgba(255, 255, 255, 1);
  color: white;
}

/* .header-init h1 {
  opacity: 100%;
} */


.header-letters {
  /* color: white; */
  padding-top: 8%;
  margin-left: 1%;
  /* padding-left: 35%; */
  /* font-size: 150%; */
}

.header-letters-2 {
  /* padding-top: 10%; */
  padding-left: 3%;
  /* font-size: 10vh; */
}


.areas-att {
  align-items: center;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 15%;
  margin-left: 15%;
  /* font-style: italic; */
  /* font-size: 35px; */
}

.areas-att h3 {
  /* font-size: 35px; */
}

.areas-att h2 {
  padding-bottom: 1%;
  /* font-size: 50px; */
}

.container-25 {
  align-items: center;
  text-align: center;
  text-align: center;
  margin-top: 3%;
  /* margin-bottom: 3%; */
}
.container-25 h3 {
  text-align: center;
  margin-bottom: 2%;

}
.container-25 {
  position: relative;
  text-align: center;
}

.container-25 img {
  background-size: cover;
  opacity: 70%;
  width: 100%;
  height: 65vh;
}
.container-25 button {
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
  border-color: black;
}
.container-29 {
  position: relative;

}

.container-29 img {
  max-width: 100%;
  height: 90vh;
  width: 100%;
}

.container-29 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -130%);
  color: white;
}

.container-29 button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-450%, 40%);
  background-color: black;
  color: aqua;
  border-radius: 15px;
  padding: 10px;
  border-color: white;
}

.container48 {
  margin-top: 3%;
  align-items: center;
  text-align: center;
  /* padding-top: 2%; */
  /* margin-right: 15%;
  margin-left: 15%; */
  /* font-style: italic; */
}

.container48 h3 {
  /* font-size: 35px; */
}

.container50 {
  padding-top: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  /* display: none; */
}

.container50 img {
  height: 32vh;
  margin-left: 2%;
  width: 40vh;
}

.container51 {
  padding-top: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  /* display: none; */
}

.container51 img {
  height: 32vh;
  margin-left: 2%;
  width: 40vh;
}

/* height: 32vh;
  margin-left: 2%;
  width: 40vh; */

.sty50 {
  position: relative;
  display: inline-block;
  margin-right: 3%;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

.card-text h3 {
  font-weight: bold;
  margin: 0;
}

@media (max-width: 912px) {

  .cards-div {
    margin-right: 0;
    margin-bottom: 8%;
  }

  .show-more-button {
    display: flex;
    justify-content: center;
  }

  .header-init {
    color: white;
    background-color: #007bff;
    background-image: url("../assets/headlogo.png");
    /* padding-bottom: 24%; */
    height: 40vh;
    background-size: cover;
    /* opacity: 70%; */
    background-color: rgba(255, 255, 255, 1);
    /* color: whitesmoke; */
  }

  .carousel-caption {
    /* height: 90%; */
    width: 80%;
  }

  p {
    font-size: 1vh;
  }

  .container50 {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .container51 {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
    display: block;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .header-init {
    opacity: 90%;
    color: white;
  }

  .header-letters {
    padding-top: 8%;
    padding-left: 3%;
    font-size: 2.5vh
    /* background-color: #007bff; */
  }
  
  .header-letters-2 {
    padding-left: 3%;
    font-size: 5vh;
  }

  .sty50 {
    display: block;
    margin-right: 0;
    /* margin-bottom: 20px; */
  }
  .sty50 img {
    width: 80%;
    margin-bottom: 20px;
  }

  .card-industry {
    position: "absolute";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, +280%)";
    /* background-color: #007bff; */
  }
  }

  @media (max-width: 950px) {

  .show-more-button {
    display: flex;
    justify-content: center;
  }

    .container50 img {
  height: 32vh;
  margin-left: 2%;
  width: 40vh;
}

.container51 img {
  height: 32vh;
  margin-left: 2%;
  width: 40vh;
}

    p {
      font-size: 2vh;
    }
  
    .sty50 div h3 {
      /* display: block; */
      margin-right: 0;
      /* margin-bottom: 20px; */
      font-size: 4vh;
    }
    .sty50 img {
      /* width: 100%; */
      /* margin-bottom: 20px; */
    }
    }