* {
  /* color: #212529; */
  margin: 0;
  padding: 0;
}

footer {
  color: #212529;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  width: 100%;
  margin-top: 3%;
  /* background-color: #F2F2F2; */
  /* padding: 20px; */
}

.footer-center img {
height: 2vh;
}

.footer-center p {
  color: #212529;
  font-size: 1.2vh;
  margin-bottom: 0%;
  }

 .footer-left {
  margin-right: 3%;
}
.footer-right {
  margin-top: 1%;
  margin-left: 3%;
  display: flex;
} 

.footer-right a {
  margin-left: 5%;
} 

.footer-left img {
  height: 5vh;
  /* width: 28vh; */
}

@media (max-width: 768px) {
  footer{
  display: block;
  text-align: center;
  }
  .footer-left img {
    height: 4vh;
    margin-bottom: 4%;
  }
  .footer-right {
    padding-bottom: 10%;
    margin-right: 5%;
    justify-content: space-around;
  }
}