* {
  color: #212529;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: #F2F2F2; */
  /* padding: 20px; */
}

 .footer-left {
  /* margin-right: auto; */
}
.footer-right {
  /* margin-left: auto; */
} 

.footer-left img {
  height: 8vh;
  /* width: 28vh; */
}

@media (max-width: 768px) {
  footer{
  display: block;
  text-align: center;
  }
  .footer-left img {
    height: 4vh;
    margin-bottom: 4%;
  }
  .footer-right {
    padding-bottom: 15%;
  }
}